In [1]:
import pandas as pd

In [25]:

people = {
    "first" :["Ram","Hari","Shyam"],
    "last" : ["Thapa","Paudel","Thapa"],
    "email" : ["ramthaapa@gmail.com","haripaudel@gmail.com","shyamthapa@gmail.com"]
}

In [26]:
df = pd.DataFrame(people)

In [27]:
df

   first    last                 email
0    Ram   Thapa   ramthaapa@gmail.com
1   Hari  Paudel  haripaudel@gmail.com
2  Shyam   Thapa  shyamthapa@gmail.com

In [28]:
df['last'] == 'Thapa' # returns a series of bool i.e true means it meets the criteria and that of false means it doesn't

0     True
1    False
2     True
Name: last, dtype: bool

In [29]:
# now using filter

filt = (df['last'] == 'Thapa')

In [30]:
df[filt] # df[f['last'] == 'Thapa'] also  works same

   first   last                 email
0    Ram  Thapa   ramthaapa@gmail.com
2  Shyam  Thapa  shyamthapa@gmail.com

In [31]:
df.loc[filt]

   first   last                 email
0    Ram  Thapa   ramthaapa@gmail.com
2  Shyam  Thapa  shyamthapa@gmail.com

In [32]:
df.loc[filt,'email'] # shows the email column of filt

0     ramthaapa@gmail.com
2    shyamthapa@gmail.com
Name: email, dtype: object

Main advantage of df.loc[filt,'email'] is that we can more filter the filtered dataframe

In [33]:
filt = (df['last'] == 'Thapa')&(df['first']=='Ram')  # we can use and operator 
df.loc[filt,'email']

0    ramthaapa@gmail.com
Name: email, dtype: object

In [34]:
# using or operator

filt = (df['last'] == 'Thapa')|(df['first']=='Ram') 
df.loc[filt,'email']

0     ramthaapa@gmail.com
2    shyamthapa@gmail.com
Name: email, dtype: object

In [35]:
# if we just want to see the data opposite the conditions in filter we use tilde(~) just before the filt as

df.loc[~filt,'email']

1    haripaudel@gmail.com
Name: email, dtype: object