In [1]:
import pandas as pd

In [2]:

people = {
    "first" :["Ram","Hari","Shyam"],
    "last" : ["Thapa","Paudel","Oli"],
    "email" : ["ramthaapa@gmail.com","haripaudel@gmail.com","shyamoli@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first    last                 email
0    Ram   Thapa   ramthaapa@gmail.com
1   Hari  Paudel  haripaudel@gmail.com
2  Shyam     Oli    shyamoli@gmail.com

In [5]:
df['email']

0     ramthaapa@gmail.com
1    haripaudel@gmail.com
2      shyamoli@gmail.com
Name: email, dtype: object

In [6]:
df.set_index('email') # makinf email the index of dataframe ==> email lai index banako 
 
    # this doesn't modify the dataframe

                      first    last
email
ramthaapa@gmail.com     Ram   Thapa
haripaudel@gmail.com   Hari  Paudel
shyamoli@gmail.com    Shyam     Oli

In [7]:
df

   first    last                 email
0    Ram   Thapa   ramthaapa@gmail.com
1   Hari  Paudel  haripaudel@gmail.com
2  Shyam     Oli    shyamoli@gmail.com

In [8]:
# to modify the dataframe 

df.set_index('email',inplace=True)

In [9]:
df  # now the dataframe is modified

                      first    last
email
ramthaapa@gmail.com     Ram   Thapa
haripaudel@gmail.com   Hari  Paudel
shyamoli@gmail.com    Shyam     Oli

In [10]:
df.index # shows the index of dataframe

Index(['ramthaapa@gmail.com', 'haripaudel@gmail.com', 'shyamoli@gmail.com'], dtype='object', name='email')

In [11]:
df.loc['ramthaapa@gmail.com']  # this indexing is somehow easy to search for the data using email rather than the indexing like 0,1,2,3.....

first      Ram
last     Thapa
Name: ramthaapa@gmail.com, dtype: object

In [12]:
df.loc['ramthaapa@gmail.com','first'] # gives first name of that email

'Ram'

In [18]:
# as we set email as index it gives error if we try to look for an item using index usinf loc method

# df.loc[0] # this gives error

# but we can use index numbers in iloc method

df.iloc[0] # this doesn't gives error

first      Ram
last     Thapa
Name: ramthaapa@gmail.com, dtype: object

In [19]:
# removing email as index
df.reset_index(inplace=True)
df

                  email  first    last
0   ramthaapa@gmail.com    Ram   Thapa
1  haripaudel@gmail.com   Hari  Paudel
2    shyamoli@gmail.com  Shyam     Oli