In [1]:
import pandas as pd

In [2]:
# crearting a dictonary

people = {
    "first" :["Ram","Hari","Shyam"],
    "last" : ["Thapa","Paudel","Oli"],
    "email" : ["ramthaapa@gmail.com","haripaudel@gmail.com","shyamoli@gmail.com"]
}

In [3]:
people['email']

['ramthaapa@gmail.com', 'haripaudel@gmail.com', 'shyamoli@gmail.com']

In [4]:
# Creating a dataframe from the dictionary
df = pd.DataFrame(people)

df

   first    last                 email
0    Ram   Thapa   ramthaapa@gmail.com
1   Hari  Paudel  haripaudel@gmail.com
2  Shyam     Oli    shyamoli@gmail.com

In [6]:
# Accessing the single column email of the dataframe 

df['email']

0     ramthaapa@gmail.com
1    haripaudel@gmail.com
2      shyamoli@gmail.com
Name: email, dtype: object

In [7]:
type(df['email']) # the datatype of df['email'] is series

pandas.core.series.Series

In [8]:
df.email  # gives same result as df['email']

0     ramthaapa@gmail.com
1    haripaudel@gmail.com
2      shyamoli@gmail.com
Name: email, dtype: object

In [12]:
df[['last','email']]  # Accessing more than one columns ie in this case last and email

     last                 email
0   Thapa   ramthaapa@gmail.com
1  Paudel  haripaudel@gmail.com
2     Oli    shyamoli@gmail.com

In [14]:
# this doesnot remains as series its type now becomes dataframe
type(df[['last','email']])

pandas.core.frame.DataFrame

NOTE :- It is preferred to access columns using columnname in a bracket 
        like (df['column name which we want to access']) rather than the dot method 
        like (df.column_name) beacuse if the column name matches the builtin method names then using dot will
        call the builtin method.

In [15]:
df.columns  # it gives the columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
# iloc is used to access dataframe using integer location 

df.iloc[0] # it gives the first row

first                    Ram
last                   Thapa
email    ramthaapa@gmail.com
Name: 0, dtype: object

In [17]:
# Accessing multiple rows

df.iloc[[0,2]] # accessing first and last row

   first   last                email
0    Ram  Thapa  ramthaapa@gmail.com
2  Shyam    Oli   shyamoli@gmail.com

In [18]:
df.iloc[[0,2],2] # this gives the email address of the first and third row

0    ramthaapa@gmail.com
2     shyamoli@gmail.com
Name: email, dtype: object

In [19]:
df

   first    last                 email
0    Ram   Thapa   ramthaapa@gmail.com
1   Hari  Paudel  haripaudel@gmail.com
2  Shyam     Oli    shyamoli@gmail.com

In [20]:
# loc used label to access dataframe 

df.loc[0]  # here 0 is the label for first row

first                    Ram
last                   Thapa
email    ramthaapa@gmail.com
Name: 0, dtype: object

In [22]:
# accessing multiple rows

df.loc[[1,2]]

   first    last                 email
1   Hari  Paudel  haripaudel@gmail.com
2  Shyam     Oli    shyamoli@gmail.com

In [24]:
# aeeceesing both rows and columns at a time

df.loc[[0,1],"email"]  # gives the email of first and second row

0     ramthaapa@gmail.com
1    haripaudel@gmail.com
Name: email, dtype: object

In [25]:
df.loc[[0,1],['first','email']]  # gives the first and email of first and second row

  first                 email
0   Ram   ramthaapa@gmail.com
1  Hari  haripaudel@gmail.com